<head>
<title> The Weather </title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head> 

<div id = "navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>

  <% pic = @rain.view_rain.gsub("%", "")  %>
  <% @rain_pic = pic.to_i %>
      <% if @rain_pic >= 75 %>
        <style>
          body { background-image:url('css/rainy-day.jpeg'); }
        </style>
      <% else %>
        <style>
          body { background-image:url('css/sunny_day.jpg'); }
        </style>

      <% end %>

    <div class = "text_box" >
 <h1>  Call my cell  </h1>
  </div>

