<head>
<title> The Weather </title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>



  <% pic = @rain.view_rain.gsub("%", "")  %>
  <% @rain_pic = pic.to_i %>
      <% if @rain_pic >= 75 %>
        <style>
          body { background-image:url('css/rainy-day.jpeg'); }
        </style>
      <% else %>
        <style>
          body { background-image:url('css/sunny_day.jpg'); }
        </style>

      <% end %>







<h1> <center> Weather </center>  </h1>
  <div class = box>
    <h2> <center> Today's weather:</center></h2>
    <div class = text>
      <p> <center> The weather is currently <%= @weather.weather_now %> </center> </p> 
      <p> <center> Today, the high will be <%= @weather.weather_today %> </center> </p> 
      <p> <center> Tonight, the low will be <%= @weather.weather_tonight %> </center> </p> 
      <p> <center> Today the chance of rain is <%= @rain.view_rain%> </center> </p> 
    <% pic = @rain.view_rain.gsub("%", "")  %>
    <% @rain_pic = pic.to_i %>
    <% sunny = @weather.weather_today.gsub("˚", "") %>
    <% @sunny_text = sunny.to_i %>

      <% if @rain_pic <= 50 && @sunny_text >= 75 %>
        <p> <center> Go outside and play today! It's hot! </center> </p>
      <% end %>

      <% if @rain_pic >= 90 && sunny_text < 30 %>
        <p> <center> You might want to stay inside today, its probably going to be pretty wet </center> </p>
      <% end %>

      <% if @sunny_text <= 30 %>
        <p> <center> You might freeze your balls off today </center> </p>
      <% end %>

      <% if @rain_pic >=90 && @sunny_text <= 30 %>
        <p> <center> You might want to whip out your cross country skies. Expect snow! </center> </p>
      <% end %>


    </div>
</div>
</body>