<head>
<title> The Weather </title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>





  <% @rain_pic = @rain.view_rain.to_i %>
      <% if @rain_pic >= 75 %>
        <style>
          body { background-image:url('css/rainy-day.jpeg'); }
        </style>
      <% else %>
        <style>
          body { background-image:url('css/sunny_day.jpg'); }
        </style>

      <% end %>


<div id = "navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>




<h1>  Weather   </h1>
  <div class = "box">
    <h2>  Today's weather:</h2>
    <div class = "text">
      <p>  The weather is currently <%= @weather.weather_now %>  </p> 
      <p>  Today, the high will be <%= @weather.weather_today %>  </p> 
      <p>  Tonight, the low will be <%= @weather.weather_tonight %>  </p> 
      <p>  Today the chance of rain is <%= @rain.view_rain%>  </p> 
    <% @rain_pic = @rain.view_rain.to_i %>
    <% sunny = @weather.weather_today.gsub("˚", "") %>
    <% @sunny_text = sunny.to_i %>

      <% if @rain_pic <= 50 && @sunny_text >= 75 %>
        <p>  It's getting hot in here, so take off all your clothes  </p>
      <% end %>

      <% if @rain_pic >= 80 %>
        <p>  ITS GON' RAIN!  </p>
      <% end %>

      <% if @sunny_text <= 30 %>
        <p>  It's time to whip out that mink pimp-coat you've always wanted to wear  </p>
      <% end %>

      <% if @rain_pic >=90 && @sunny_text <= 30 %>
        <p>  Let it snow!  </p>
      <% end %>


    </div>
</div>
</body>