@import url(http://fonts.googleapis.com/css?family=Anton|Oswald);
@import url(http://fonts.googleapis.com/css?family=Hind);

/*body{
  background-image:url('sunny_day.jpg');
  background-size: 2460px 1340px; 
}*/

* {
  text-align: center;
}
h1{
  font-size: 100px;
  color: #E7D727;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h2{
  font-size: 50px;
  color: black;
  text-align: center;
  font-family: 'Hind', sans-serif;
  color: white;
}

.text{
  font-family: 'Hind', sans-serif;
  font-size: 35px;
  color: white;
}

.box{
  background-color: rgba(0,0,0,.5);
  border-radius: 30px;
  margin-top: -40px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float:left;
     font-family: Verdana;
     display: block;
     width: 25%;
     color: white;
     text-decoration: none;
     padding-top: 10px;
}

li a {
  color: #E7D727;
  text-decoration: none;
}


a:hover{
  background-color: gray;
}

#navbar{
    background: rgba(0,0,0,.5);
    height: 40px;
    text-align: center;
    border-radius: 15px;
}

.yellow_other{
  color: black;
}

.text_box{
  background-color: rgba(0,0,0,.5);
  border-radius: 30px;
}

p {
  text-align: center;
}

